<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thmyeleaf.org">
<head>
    <script src="/webjars/jquery/3.2.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>WebJars Demo</title>
    <link rel="stylesheet"
          href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css"/>
</head>
<body>
<div class="container"><br/>
    <form method="POST" th:object="${passwordContainer}" th:action="@{/register/changePassword}">
        <div class="errors" th:if="${#fields.hasErrors('*')}">
            <ul>
                <li th:each="err : ${#fields.errors('*')}" th:text="${err}"></li>
            </ul>
        </div>
        <label>Old Password: </label><input type="password" th:field="*{oldPassword}"><br />
        <label>New Password: </label><input type="password" th:field="*{newPassword}"><br />
        <label>Repeat New Password: </label><input type="password" th:field="*{newPasswordRepeat}"><br />
        <input type="submit" value="Change password">
    </form>
</div>
</body>
</html>