<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thmyeleaf.org">
<head>
    <script src="/webjars/jquery/3.2.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>WebJars Demo</title>
    <link rel="stylesheet"
          href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css"/>
</head>
<body>
<div class="container"><br/>
    <form method="POST" th:action="@{/register/generatePassword}">
        <div class="errors" th:if="${noSuchUser != null}">
            <label th:text="${noSuchUser}"></label>
        </div>
        <label>Login: </label><input type="text" name="login"><br />
        <input type="submit" value="Generate new password">
    </form>
</div>
</body>
</html>