<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thmyeleaf.org">
<head>
    <script src="/webjars/jquery/3.2.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>WebJars Demo</title>
    <link rel="stylesheet"
          href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css"/>
</head>
<body>
<div class="container"><br/>
    <form method="POST" th:object="${employee}" th:action="@{/register/register}">
        <div class="errors" th:if="${#fields.hasErrors('*')}">
            <ul>
                <li th:each="err : ${#fields.errors('*')}" th:text="${err}"></li>
            </ul>
        </div>
        <label>Login: </label><input type="text" th:field="*{login}"><br />
        <label>Name: </label><input type="text" th:field="*{name}"><br />
        <label>Surname: </label><input type="text" th:field="*{surname}"><br />
        <label>Email: </label><input type="text" th:field="*{email}"><br />
        <label>Position: </label><input type="text" th:field="*{position}"><br />
        <label>Department: </label><input type="text" th:field="*{department}"><br />
        <input type="submit" value="Create account">
    </form>
</div>
</body>
</html>