<html xmlns:th="http://www.thmyeleaf.org">
<head>
    <script src="/webjars/jquery/3.2.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>WebJars Demo</title>
    <link rel="stylesheet"
          href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css"/>
</head>
<body>
<div class="container"><br/>
    <div class="alert alert-warning">
        <div>
            <div class="errors">
                <table class="table table-striped">
                    <tr th:if="${ownedSessions.empty and sessions.empty}">
                        <td>No active sessions.</td>
                    </tr>
                    <tr th:if="${!ownedSessions.empty}">
                        <td>Your sessions:</td>
                    </tr>
                    <tr th:each="ownedSession : ${ownedSessions}">
                        <td>
                            Description: <label th:text="${ownedSession.description}"></label>
                            Source: <a th:href="${ownedSession.sessArtifact.source}" th:text="${ownedSession.sessArtifact.source}">
                            Author: <label th:text="${ownedSession.sessAuthor.surname}"></label>
                            <label th:text="${ownedSession.sessAuthor.name}"></label>
                            Start: <label th:text="${ownedSession.start_time}"></label>
                            End: <label th:text="${ownedSession.end_time}"></label>
                        </td>
                        <td>
                            <a class="btn btn-primary" th:href="@{'/session/' + ${ownedSession.id}}">Go to Session</a>
                        </td>
                        <form method="POST" action="/activeSessions" id="activeSessions">
                            <input type="text" th:value="${ownedSession.id}" name="sessId" hidden/>
                            <td><input class="btn btn-primary" type="submit" value="Close"/><td>
                        </form>
                    </tr>
                    <tr th:if="${!sessions.empty}">
                        <td>Sessions you participate in:</td>
                    </tr>
                    <tr th:each="sess : ${sessions}">
                        <td>
                            Description: <label th:text="${sess.description}"></label>
                            Source: <a th:href="${sess.sessArtifact.source}" th:text="${sess.sessArtifact.source}">
                            Author: <label th:text="${sess.sessAuthor.surname}"></label>
                            <label th:text="${sess.sessAuthor.name}"></label>
                            Start: <label th:text="${sess.start_time}"></label>
                            End: <label th:text="${sess.end_time}"></label>
                        </td>
                        <td><a class="btn btn-primary" th:href="@{'/session/' + ${sess.id}}">Go to Session</a></td>
                    </tr>
                </table>
            </div>
        </div>

        <a class="btn btn-default" th:href="@{/}">Go back</a>
    </div>
</div>
</body>
</html>