<html xmlns:th="http://www.thmyeleaf.org">
<head>
    <script src="/webjars/jquery/3.2.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>WebJars Demo</title>
    <link rel="stylesheet"
          href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>
<body>
<div class="container"><br/>
    <div class="alert alert-warning">
        <a href="#" class="close" data-dismiss="alert"
           aria-label="close">×</a>
        <div th:if="${message}">
            <h2 th:text="${message}"/>
        </div>

        <div>
            <form method="POST" enctype="multipart/form-data" action="/artifacts">
                <table class="table table-striped">
                    <tr><td>File to upload:</td><td><input type="file" name="sessArtifact" /></td></tr>
                    <tr><td></td><td><input type="submit" class="btn btn-success" value="Upload" /></td></tr>
                </table>
            </form>
        </div>

        <div>
            <ul>
                <li th:each="file : ${files}">
                    <a th:href="${file}" th:text="${file}" />
                </li>
            </ul>
        </div>
        <a th:href="@{/logout}">Wyloguj</a>
    </div>
</div>
</body>
</html>