<html xmlns:th="http://www.thmyeleaf.org">
<head>
    <script src="/webjars/jquery/3.2.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>WebJars Demo</title>
    <link rel="stylesheet"
          href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css"/>
</head>
<body>
<div class="container"><br/>
    <div class="alert alert-warning">
        <div>
            <div class="errors" th:if="${message != null}">
                <ul>
                    <li th:text="${message}"></li>
                </ul>
            </div>

            <table class="table table-striped">
                <tr th:if="${!reviews.empty}">
                    <td>Your reviews</td>
                </tr>
                <tr th:if="${reviews.empty}">
                    First add a new review!
                </tr>
                <tr th:each="review : ${reviews}">
                    <td>
                        Description: <label th:text="${review.description}"></label>
                        Source: <a th:href="${review.revArtifact.source}" th:text="${review.revArtifact.source}">
                        Author: <label th:text="${review.revAuthor.surname}"></label>
                        <label th:text="${review.revAuthor.name}"></label>
                    </td>
                    <td>
                        <form method="POST" action="/createSession" id="createReview">
                            <input type="text" th:value="${review.id}" name="reviewId" hidden/>
                            <input type="submit" class="btn btn-primary" value="Add" name="submit"/>
                            <input type="submit" class="btn btn-primary" value="Close" name="submit"/>
                        </form>
                    </td>
                </tr>
                <tr th:if="${!oldReviews.empty}">
                    <td>Old reviews</td>
                </tr>
                <tr th:each="oldReview : ${oldReviews}">
                    <td>
                        Description: <label th:text="${oldReview.description}"></label>
                        Source: <a th:href="${oldReview.revArtifact.source}" th:text="${oldReview.revArtifact.source}">
                        Author: <label th:text="${oldReview.revAuthor.surname}"></label>
                        <label th:text="${oldReview.revAuthor.name}"></label>
                    </td>
                </tr>
            </table>
        </div>

        <a class="btn btn-default" th:href="@{/}">Go back</a>
    </div>
</div>
</body>
</html>