<html xmlns:th="http://www.thmyeleaf.org">
<head>
    <script src="/webjars/jquery/3.2.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>WebJars Demo</title>
    <link rel="stylesheet"
          href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css"/>
</head>
<body>
<div class="container"><br/>
    <div class="alert alert-warning">
        <div>
            <form method="POST" enctype="multipart/form-data" action="/createReview" id="createReview">

                <div class="errors">
                    <ul>
                        <li th:each="err : ${errors}" th:text="${err}"></li>
                    </ul>
                </div>

                <div>
                    <p>Select who will participate in review:</p><br/>
                    <select multiple="multiple" name="reviewers" id="reviewers" form="createReview">
                        <option th:each="employee : ${employees}"
                                th:value="${employee.login}"
                                th:text="${employee.name + ' ' + employee.surname}"></option>
                    </select>
                </div>

                <textarea form="createReview" name="description" id="description"></textarea>

                <table class="table table-striped">
                    <tr>
                        <td>File to upload:</td>
                        <td><input type="file" class="btn btn-primary" name="revArtifact"/></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><input type="submit" class="btn btn-success" value="Submit"/></td>
                    </tr>
                </table>
            </form>
        </div>

        <a class="btn btn-default" th:href="@{/}">Go back</a>
    </div>
</div>
</body>
</html>