<html xmlns:th="http://www.thmyeleaf.org">
<head>
    <script src="/webjars/jquery/3.2.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>WebJars Demo</title>
    <link rel="stylesheet"
          href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css"/>
</head>
<body>
<div class="container"><br/>
    <div class="alert alert-warning">
        <div>
            <form method="POST" enctype="multipart/form-data" action="/createdSession" id="createdSession">

                <div class="errors">
                    <ul>
                        <li th:each="err : ${errors}" th:text="${err}"></li>
                    </ul>
                </div>

                Start time: <input type="datetime-local" name="startTime"/>
                End time: <input type="datetime-local" name="endTime"/>
                Description: <textarea form="createdSession" name="description" id="description"></textarea>
                <input type="text" name="reviewId" th:value="${reviewId}" hidden/>

                <table class="table table-striped">
                    <tr>
                        <td>Artifact: </td>
                        <td><input type="file" name="sessArtifact"/></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><input type="submit" value="Create Session"/></td>
                    </tr>
                </table>
            </form>
        </div>

        <a th:href="@{/}">Go back</a>
    </div>
</div>
</body>
</html>