<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thmyeleaf.org">
<head>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <title>Technical Review</title>
    <style>
        .buttons-wrapper {
            height: 240px;
            margin-top: 60px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    </style>
</head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
</head>
<body>
<div class="container">
    <div class="buttons-wrapper">
        <a class="btn btn-block btn-success" th:href="@{/createReview}">Create Review</a>
        <a class="btn btn-block btn-success" th:href="@{/createSession}">Your reviews</a>
        <a class="btn btn-block btn-primary" th:href="@{/invitations}">Invitations</a>
        <a class="btn btn-block btn-info" th:href="@{/activeSessions}">Active Sessions</a>
        <a class="btn btn-block btn-danger" th:href="@{/logout}">Logout</a>
    </div>
</div>
</body>
</html>