<html xmlns:th="http://www.thmyeleaf.org">
<head>
    <script src="/webjars/jquery/3.2.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>WebJars Demo</title>
    <link rel="stylesheet"
          href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css"/>
</head>
<body>
<div class="container"><br/>
    <div class="alert alert-warning">
        <div>
            <div class="errors">
                <table class="table table-striped">
                    <tr th:if="${reviewInvitations.empty and sessionInvitations.empty}">
                        <td>You don't have any invitations</td>
                    </tr>
                    <tr th:if="${message != null}">
                        <td><label th:text="${message}"></label></td>
                    </tr>
                    <tr th:if="${!reviewInvitations.empty}">
                        <td><b>Review invitations</b></td>
                    </tr>
                    <tr th:each="review : ${reviewInvitations}">
                        <td>
                            Description: <label th:text="${review.description}"></label>
                            Source: <a th:href="${review.revArtifact.source}" th:text="${review.revArtifact.source}">
                            </a>
                            Author: <label th:text="${review.revAuthor.surname}"></label>
                            <label th:text="${review.revAuthor.name}"></label>
                        </td>
                        <form method="POST" action="/invitations" id="invitationsRev">
                            <input id="reviewId" type="text" name="reviewId" th:value="${review.id}" hidden>
                            <td><input id="accept" class="btn btn-primary" type="submit" name="submit" th:value="ACCEPT"></td>
                            <td><input id="decline" class="btn btn-primary" type="submit" name="submit" th:value="DECLINE"></td>
                        </form>
                    </tr>
                    <tr th:if="${!sessionInvitations.empty}">
                        <td>Session invitations</td>
                    </tr>
                    <tr th:each="sess : ${sessionInvitations}">
                        <td>
                            Description: <label th:text="${sess.description}"></label>
                            Source: <a th:href="${sess.sessArtifact.source}" th:text="${sess.sessArtifact.source}"></a>
                            Author: <label th:text="${sess.sessAuthor.surname}"></label>
                            <label th:text="${sess.sessAuthor.name}"></label>
                        </td>
                        <form method="POST" action="/invitations" id="invitationsSess">
                        <input id="sessionId" type="text" name="sessionId" th:value="${sess.id}" hidden>
                        <td><input id="sess_accept" class="btn btn-primary" type="submit" name="submit" th:value="ACCEPT"></td>
                        <td><input id="sess_decline" class="btn btn-primary" type="submit" name="submit" th:value="DECLINE"></td>
                        </form>

                    </tr>
                </table>
            </div>
        </div>

        <a class="btn btn-default" th:href="@{/}">Go back</a>
    </div>
</div>
</body>
</html>